# Tarea 1 Bases de Datos 2023-1 Grupo 10

## Integrantes:
* Luis Felipe Gonzalez - 202173109-1
* Francisco González - Rol-202123010-6

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [ ]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/tarea

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea',
   password="password"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001C9FB92C260; dsn: 'user=postgres password=xxx dbname=tarea host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [6]:
%%sql


CREATE TABLE facciones (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

Done.

[]

### Tabla "trabajos" (6 pts)

In [7]:
%%sql

CREATE TABLE trabajos(
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "personas" (6 pts)

In [8]:
%%sql

CREATE TABLE personas(
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas (id)

);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [9]:
%%sql
CREATE TABLE cuentas_bancarias(
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INTEGER NOT NULL,
    id_persona INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id)

);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [10]:
%%sql

CREATE TABLE persona_pertenece_faccion(
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY (id_persona,id_faccion),
    FOREIGN KEY (id_persona) REFERENCES personas(id),
    FOREIGN KEY (id_faccion) REFERENCES facciones(id)
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [11]:
%%sql

CREATE TABLE persona_tiene_trabajo(
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona,id_trabajo),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos(id),
    FOREIGN KEY (id_persona) REFERENCES personas(id)
    
);

 * postgresql://postgres:***@localhost:5432/tarea
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [12]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** Esta consulta selecciona las columnas "id", "nombre" y solo el primer apellido de la tabla "personas". Luego, une las tablas "personas" y "persona_pertenece_faccion" basándose en las columnas "id" que coincidan en ambas tablas. Después, une la tabla "persona_pertenece_faccion" con la tabla "facciones" utilizando las columnas "id_faccion" que coincidan. Al final, muestra solo los registros en los que el nombre de la facción sea 'FEDRA'.

In [ ]:
%%sql

SELECT 
    personas.id AS "ID",
    personas.nombre AS "Nombre" ,
    SPLIT_PART(personas.apellidos, ' ', 1) AS "Apellido"
FROM 
    personas
INNER JOIN 
    persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
INNER JOIN 
    facciones ON persona_pertenece_faccion.id_faccion = facciones.id
WHERE 
    facciones.nombre = 'FEDRA';

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** En esta consulta se utiliza la función COUNT(*) para contar la cantidad total de registros en la tabla "personas" que nacieron después  de '2019-12-01'.

In [ ]:
%%sql

SELECT COUNT(*) AS "Cantidad"
FROM personas
WHERE fecha_nacimiento > '2019-12-01';

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** En esta consulta se seleccionan las columnas "id", "nombre", "apellidos" de la tabla "personas" y la columna "saldo" de la tabla "cuentas_bancarias". Luego, se unen  las tablas "personas" y "cuentas_bancarias" utilizando como condición que el "id" de la tabla "personas" sea igual al "id_persona" de la tabla "cuentas_bancarias".

In [ ]:
%%sql

SELECT personas.id AS "ID", 
    personas.nombre AS "Nombre", 
    personas.apellidos AS "Apellido", 
    cuentas_bancarias.saldo AS "Dinero"
FROM 
    personas
INNER JOIN 
    cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
LIMIT 20;

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** En esta consulta, se seleccionan la columna "nombre" de la tabla "facciones" y se cuenta la cantidad de trabajadores para cada facción. Para hacer esto, se unen las tablas "facciones", "persona_pertenece_faccion", "persona_tiene_trabajo" y "trabajos" . Se aplica un filtro para considerar sólo a aquellos trabajadores cuyo estado es TRUE y cuya última vez que realizaron el trabajo fue en o antes de una fecha 'X' (en este ejemplo se utilizó '2022-03-27'). Finalmente, se agrupan los resultados por el nombre de la facción.

In [ ]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    COUNT(*) AS "Cantidad de trabajadores"
FROM facciones
INNER JOIN 
    persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
INNER JOIN 
    persona_tiene_trabajo ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
INNER JOIN 
    trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id
WHERE 
    persona_tiene_trabajo.estado = TRUE AND persona_tiene_trabajo.ultima_vez_realizado <= '2022-03-27'
GROUP BY facciones.nombre

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** Esta consulta selecciona la columna "nombre" de la tabla "facciones" y cuenta la cantidad de personas infectadas en cada facción. Para hacer esto, se unen las tablas "persona_pertenece_faccion", "facciones" y "personas". Se aplica un filtro para considerar sólo a aquellos registros cuyo valor en la columna "infectado" de la tabla "personas" es igual a TRUE. Finalmente, se agrupan los resultados por el nombre de la facción.

In [ ]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    COUNT(personas.infectado) AS "Personas infectadas"
    
FROM persona_pertenece_faccion

INNER JOIN 
    facciones ON persona_pertenece_faccion.id_faccion = facciones.id
INNER JOIN 
    personas ON persona_pertenece_faccion.id_persona = personas.id

WHERE personas.infectado = true
GROUP BY facciones.nombre;

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** En esta consulta, se muestra el trabajo más popular en cada facción al seleccionar las columnas "Facción" y "Trabajo" de una subconsulta que une las tablas "facciones", "persona_pertenece_faccion", "personas", "persona_tiene_trabajo" y "trabajos". Se utiliza la función ROW_NUMBER() para asignar un número de fila a cada registro dentro de cada grupo de facción, ordenándolos por la cantidad de personas que tienen ese trabajo en orden descendente. Luego, en la consulta principal, se escogen las columnas "Facción" y "Trabajo" donde el número de fila es igual a 1, lo que significa que se selecciona el trabajo más popular para cada facción.

In [ ]:
%%sql

SELECT
    sub.Facción,
    sub.Trabajo

FROM(
    SELECT 
        facciones.nombre AS Facción, 
        trabajos.nombre AS Trabajo, 
        ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(persona_tiene_trabajo.id_persona) DESC) AS FILA

    FROM facciones

    INNER JOIN 
        persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN 
        personas ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN 
        persona_tiene_trabajo ON personas.id = persona_tiene_trabajo.id_persona
    INNER JOIN 
        trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id
    GROUP BY facciones.nombre, trabajos.nombre
)sub
WHERE FILA = 1;

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** En esta consulta, se selecciona la columna "nombre" de la tabla "facciones" y se calcula la suma del "saldo" de la columna "cuentas_bancarias" para cada facción. Para hacer esto, se unen las tablas "facciones", "persona_pertenece_faccion" y "cuentas_bancarias", utilizando como condiciones de unión que el "id" de la tabla "facciones" sea igual al "id_faccion" de la tabla "persona_pertenece_faccion" y que el "id_persona" de la tabla "persona_pertenece_faccion" sea igual al "id_persona" de la tabla "cuentas_bancarias". Finalmente, se agrupan los resultados por el nombre de la facción.

In [ ]:
%%sql

SELECT 
    facciones.nombre AS "Facción", 
    SUM(cuentas_bancarias.saldo) AS "Saldo"
FROM facciones
INNER JOIN 
    persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
INNER JOIN 
    cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
GROUP BY facciones.nombre;

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** En esta consulta, se selecciona la columna "banco" de la tabla "cuentas_bancarias" y se calcula la cantidad de personas distintas (columna "Cantidad") y la suma del "saldo" (columna "Saldo") para cada banco. Para hacer esto, se unen las tablas "cuentas_bancarias" y "personas", utilizando como condición de unión que el "id_persona" de la tabla "cuentas_bancarias" sea igual al "id" de la tabla "personas". Finalmente, se agrupan los resultados por el nombre del banco, que se encuentra en la columna "banco" de la tabla "cuentas_bancarias".

In [ ]:
%%sql

SELECT 
    cuentas_bancarias.banco AS "Banco", 
    COUNT(DISTINCT cuentas_bancarias.id_persona) AS "Cantidad", 
    SUM(cuentas_bancarias.saldo) AS "Saldo"
FROM cuentas_bancarias

INNER JOIN 
    personas ON cuentas_bancarias.id_persona = personas.id
    
GROUP BY cuentas_bancarias.banco;

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** En esta consulta, se muestra el banco más utilizado en cada facción al seleccionar las columnas "Facción" y "Banco" de una subconsulta que une las tablas "facciones", "persona_pertenece_faccion", "personas" y "cuentas_bancarias". Se utiliza la función ROW_NUMBER() para asignar un número de fila a cada registro dentro de cada grupo de facción, ordenándolos por la cantidad de personas que tienen cuentas en ese banco en orden descendente. Luego, en la consulta principal, se escogen las columnas "Facción" y "Banco" donde el número de fila es igual a 1, lo que significa que se selecciona el banco más utilizado para cada facción.

In [ ]:
%%sql



SELECT 
sub.Facción,
sub.Banco

FROM (
    SELECT facciones.nombre AS Facción, 
        cuentas_bancarias.banco AS Banco,
        ROW_NUMBER() OVER (PARTITION BY facciones.nombre ORDER BY COUNT(*) DESC) AS FILA

    FROM facciones

    INNER JOIN 
        persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
    INNER JOIN 
        personas ON persona_pertenece_faccion.id_persona = personas.id
    INNER JOIN 
        cuentas_bancarias ON personas.id = cuentas_bancarias.id_persona
    GROUP BY facciones.nombre, cuentas_bancarias.banco
) sub
WHERE FILA = 1;

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** En esta consulta, se seleccionan las columnas "id", "nombre" y el segundo apellido de la columna "apellidos" de la tabla "personas". Se utiliza la función SPLIT_PART() para extraer el segundo apellido, dividiendo la cadena de texto en la columna "apellidos" usando el espacio como separador. La consulta se centra en aquellas personas cuyo "id" está en el resultado de una subconsulta que selecciona los "id_persona" de la tabla "persona_pertenece_faccion". La subconsulta agrupa por "id_persona" y utiliza la cláusula HAVING para filtrar aquellos registros que aparecen más de una vez en la tabla "persona_pertenece_faccion", lo que indica que estas personas son traidoras.

In [ ]:
%%sql

SELECT 
    personas.id AS "ID", 
    personas.nombre AS "Nombre", 
    SPLIT_PART(personas.apellidos, ' ', 2) AS "Apellido"

FROM personas 

WHERE personas.id IN(
    SELECT 
        persona_pertenece_faccion.id_persona
    FROM 
        persona_pertenece_faccion
        
    GROUP BY persona_pertenece_faccion.id_persona

    HAVING 
    COUNT(*) > 1
)

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** En esta consulta, se seleccionan las columnas "nombre" y "apellidos" de dos instancias de la tabla "personas" (p1 y p2), que representan a personas casadas entre sí. Se realiza un INNER JOIN de la tabla "personas" consigo misma (p2 con p1) utilizando como condición que el "conyugue" de p2 sea igual al "id" de p1. Se aplica un filtro en la cláusula WHERE para considerar sólo aquellos registros donde el "conyugue" no sea nulo, y donde el "conyugue" de p1 sea igual al "id" de p2. Además, se agrega una condición adicional para que el "id" de p1 sea mayor que el "id" de p2, lo que evita duplicar los resultados.

In [ ]:
%%sql

SELECT DISTINCT
    p1.nombre AS "Nombre persona 1", p1.apellidos AS "Apellidos persona 1",
    p2.nombre AS "Nombre persona 2", p2.apellidos AS "Apellidos persona 2"
FROM personas p2

INNER JOIN 
    personas p1 ON p2.conyugue = p1.id
WHERE 
    p2.conyugue IS NOT NULL AND p1.conyugue = p2.id AND p1.id > p2.id;